.card {
  background: #fff;
  border-radius: 12px;
  border: none;
}

.table th,
.table td {
  vertical-align: middle;
  text-align: center;
}
@media print {
  button,
  .header-area,
  .footer-area {
    display: none !important;
  }
  body {
    background: white !important;
  }
}
